@media (max-width: 450px) {
  .hero-section .btn-primary-custom{
      border-radius: 30px;
      width: 80% !important;
  }

  .hero-section .btn-outline-custom{
      border-radius: 30px;
      width: 60% !important;
  }
}
